[LAUNCH_SWITCHES]
App001=1
App002=0
App003=0
App004=0
App005=0
App006=0
App007=0
App008=0
App009=0
App010=0
App011=0
App012=0
App013=0
App014=0
App015=0


[LAUNCH_DELAYS]
App001=550
App002=570
App003=590
App004=610
App005=630
App006=650
App007=670
App008=690
App009=710
App010=730
App011=750
App012=770
App013=790
App014=820
App015=840


[LAUNCH_TARGETS]
;; 001
;;
LauncherExecutable001=UNDEFINED_001
LauncherDirectory001=UNDEFINED_001
;;
;;
;; 002
;;
LauncherExecutable002=UNDEFINED_002
LauncherDirectory002=UNDEFINED_002
;;
;;
;; 003
;;
LauncherExecutable003=UNDEFINED_003
LauncherDirectory003=UNDEFINED_003
;;
;;
;; 004
;;
LauncherExecutable004=UNDEFINED_004
LauncherDirectory004=UNDEFINED_004
;;
;;
;; 005
;;
LauncherExecutable005=UNDEFINED_005
LauncherDirectory005=UNDEFINED_005
;;
;;
;; 006
;;
LauncherExecutable006=UNDEFINED_006
LauncherDirectory006=UNDEFINED_006
;;
;;
;; 007
;;
LauncherExecutable007=UNDEFINED_007
LauncherDirectory007=UNDEFINED_007
;;
;;
;; 008
;;
LauncherExecutable008=UNDEFINED_008
LauncherDirectory008=UNDEFINED_008
;;
;;
;; 009
;;
LauncherExecutable009=UNDEFINED_009
LauncherDirectory009=UNDEFINED_009
;;
;;
;; 010
;;
LauncherExecutable010=UNDEFINED_010
LauncherDirectory010=UNDEFINED_010
;;
;;
;; 011
;;
LauncherExecutable011=UNDEFINED_011
LauncherDirectory011=UNDEFINED_011
;;
;;
;; 012
;;
LauncherExecutable012=UNDEFINED_012
LauncherDirectory012=UNDEFINED_012
;;
;;
;; 013
;;
LauncherExecutable013=UNDEFINED_013
LauncherDirectory013=UNDEFINED_013
;;
;;
;; 014
;;
LauncherExecutable014=UNDEFINED_014
LauncherDirectory014=UNDEFINED_014
;;
;;
;; 015
;;
LauncherExecutable015=UNDEFINED_015
LauncherDirectory015=UNDEFINED_015



[SYSTEM]
PDANetAuto=0
RunWithAdmin=1
DisplayUnableToReadConfigError=1
DisplayErrors=0
StartupDelay=6000
PDANetAutoDelay=7000
SystemExitDelay=10000


[AUTOSTARTUP_ONLOGON]
AutoStartupSetupOnFirstRun=1
AutoStartupSetupOnFirstRunDelay=2
AutoStartupSetupHasRun=FALSE


;;; This Section is only read / used by the PDANetAuto switch (if enabled)
[PDANet]
Dir=C:\Program Files (x86)\PdaNet for Android
Exe=PdaNetPC.exe
